@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Merriweather,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 1em;
    background-color: rgba(255, 255, 203, 0.6);
}

h1,h2{
    font-family: Merriweather,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 3em;
}

nav li:first-child {
    margin-right:auto;
    font-family: merriweather,Regular 400;
}

nav a{
    text-decoration: none;
    color:black;
}

nav a:hover{
    text-decoration: underline;
}

header, section {
    margin: 0 auto;
    width: min(75em, 100%);
    background: color #f9f6f3;
    padding: 0 min(2em, 15%);
    border-radius: 1em;
}

p,h1,h2{
    font-size: 1.55rem;
}

#copyrights {
    font-size: 1rem;
    text-align: center;
}

.button, .b{
    background-color: hsl(25, 75%, 47%);
width: 100px;
height: 30px;
border: 2px;
border-radius: 8px ;
}

.Button-contact {
    width: 100px;
    height: 100px;
}

.link-text, .b {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Merriweather,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

.Button-contact {
    border: 2px;
    background-color: rgba(255, 255, 203, 0.6) ;
    
}

.projecttext {
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ClockX-V1{
   border: 3px solid darkcyan;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   background-color: lightblue;
   border-radius: 20px;
   padding-left: 15px;
   padding-bottom: 4px;
   transition: border-color 250ms ease, border-width 250ms ease, transform 250ms ease, box-shadow 250ms ease;
}

#ClockX-V1:hover {
   border-top-width: 10px;
   border-right-width: 10px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-color: blue;
   border-right-color: blue;
   transform: translateY(-2px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#rp2040{
   border: 3px solid darkcyan;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   background-color: lightblue;
   border-radius: 20px;
   padding-left: 15px;
   padding-bottom: 4px;
   transition: border-color 250ms ease, border-width 250ms ease, transform 250ms ease, box-shadow 250ms ease;
}

#rp2040:hover {
   border-top-width: 10px;
   border-right-width: 10px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-color: blue;
   border-right-color: blue;
   transform: translateY(-2px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#The-Survival {
    border: 3px solid darkcyan;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   background-color: lightblue;
   border-radius: 20px;
   padding-left: 15px;
   padding-bottom: 4px;
   transition: border-color 250ms ease, border-width 250ms ease, transform 250ms ease, box-shadow 250ms ease;
}

#The-Survival:hover {
    border-top-width: 10px;
   border-right-width: 10px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-color: blue;
   border-right-color: blue;
   transform: translateY(-2px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
}

#Home {
    border: 3px solid;
   border-radius: 20px;
   padding-left: 7px;
   background-color: lightblue;
   border-color: darkcyan;
   padding: 10px;

}

#Home:hover {
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-color: blue;
    transform: translateY(-2px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
}

#Home p {
    font-size: 3rem;
}

#Home h1 {
    font-size: 3rem;
}

